* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    transform: .3s;
}

::-webkit-scrollbar{
    width: 5px;
}

:focus{
    outline: none;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: red;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


/**************************************/

/********** Menu for all pages ***************/

.menu_bar {
    width: 100%;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffB0;
    position: sticky;
    top: 0;
    z-index: 99;
}

.menu_items {
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    padding: 0 10px;
}

.lang {
    margin-right: 10px;
    display: flex;
    height: 30px;
}

.lang span {
    display: block;
}

.langfr,
.langen {
    width: 50px;
    height: 30px;
}

.menu_bottom {
    display: none;
}

@media (max-width: 1000px) {
    .logo_img {
        width: 60%;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .langfr,
    .langen {
        width: 30px;
        height: 20px;
        margin-top: 5px;
    }

    .menu_bottom {
        z-index: 99;
        display: flex;
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translatex(-50%);
        width: 90%;
        list-style: none;
        justify-content: space-around;
        padding: 20px;
        background-color: #fff;
        border-radius: 30px;
        backdrop-filter: blur(10px);
    }
}

/********** End menu for all pages ***************/


/********** Start Energy Home page ***************/

.bus_home {
    width: 100%;
}

.banner_img {
    width: 100%;
}

.bus_bann_text_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.busbann_img_logo {
    width: fit-content;
    margin-right: 20px;
    min-width: 120px;
    max-width: 450px;
    padding: max(13px, min(2vw, 30px)) max(20px, min(3vw, 30px));
    background-color: #f3f3f3;
}

.busbann_text_cont {
    font-size: max(30px, min(6vw, 80px));
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: #86837F 2px;
}

.bus_title_text {
    display: grid;
    width: 100%;
}

.bus_gtitle_text {
    margin: 0 auto;
    max-width: 60%;
    font-size: max(23px, min(4vw, 80px));
    text-align: center;
    font-weight: 700;
    color: #EDB248;
}

.gray_color {
    color: #BAB3A8;
}

.bus_little_text {
    position: relative;
    font-size: 14px;
    display: block;
    text-align: right;
    color: black;
    font-weight: 500;
    width: 100%;
}

.bus_little_text::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 4px;
    top: 50%;
    left: 0;
    background-color: #f3f3f3;
}

/********** End Energy Home page ***************/


/********** Start Declaration section page ***************/

.declaration {
    position: relative;
    margin: 70px 0;
}

.declaration::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34px;
    width: 80%;
    background-color: #EFBC6F;
    border-radius: 50px;
}

.declaration_text_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 80px 170px;
    flex-wrap: wrap;
    background-color: #EFBC6F;
}

.left_declar_text {
    display: block;
    width: 45%;
    min-width: 200px;
    max-width: 740px;
}

@media (max-width: 1024px) {
    .left_declar_text {
        width: 100%;
    }
}

.quote_img {
    width: 51px;
    height: 51px;
    margin-bottom: 42px;
}

.quote_img img {
    width: 100%;
}

.left_declare_par {
    font-size: max(24px, 40px);
    font-weight: 700;
}

@media (max-width: 1024px) {
    .left_declare_par {
        font-size: 5.5vw;
    }
}

.declar_author {
    width: 100%;
    text-align: right;
    font-size: max(18px, 27px);
    margin-top: 70px;
}

.right_declar_text {
    display: block;
    width: 45%;
    min-width: 200px;
    max-width: 740px;
    font-size: max(20px, 30px);
    margin-top: 90px;
}

@media (max-width: 1024px) {
    .right_declar_text {
        width: 100%;
    }
}

.top_par {
    margin-bottom: 100px;
}

.declar_video_cont {
    margin: -90px auto 0;
    min-width: 240px;
    min-height: 120px;
    width: 70vw;
    height: 38vw;
}

.declar_video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/********** End Declaration section page ***************/
/********** Start Benefit section page ***************/

.benefit_section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 900px;
}

@media (max-width: 1024px) {
    .benefit_section {
        flex-wrap: wrap;
    }
}

.benefit_section div {
    width: 100%;
}

.benefit_gtext {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #C7B79D;
    padding: 0 4.9vw;
}

.benefit_text_par {
    font-size: 66px;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .benefit_text_par {
        text-align: center;
        padding: 10 0px 0;
        font-size: 7vw;
    }
}

.benefit_occur_cont {
    display: grid;
    justify-content: space-evenly;
    padding: 50px 50px;
}

.benefit_text {
    height: fit-content;
    font-size: 26px;
}

.benefit_text::first-letter {
    font-size: 1.2em;
    font-weight: bold;
}

/********** End Benefit section page ***************/
/********** Start Option section page ***************/

.option_section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    height: fit-content;
}

@media (max-width: 1024px) {
    .option_section {
        display: flex;
        flex-wrap: wrap;
    }
}

.option_title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF5C5C;
    color: white;
}

.option_title_section,.option_type_section{
    width: 58%;
}

.option_gtext,.option_ltext{
    width: 70%;
    max-width: 650px;
    margin-bottom: 56px;
}

@media (max-width: 1024px) {
    .option_title_section,.option_type_section{
        width: 100%;
        padding-top: 50px;
    }
}

.option_gtext{
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 1024px){
    .option_gtext{
        font-size: 7vw;
    }
}

.option_type_section{
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
}

.option_item{
    display: grid;
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 1024px){
    .option_item{
        font-size: 1.5rem;
    }
}

.option_item_cert span{
    font-weight: 400;
}

.option_info_btn{
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #FF5C5C;
    margin: 20px auto 0;
}

@media (max-width: 1024px){
    .option_info_btn{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.option_legend{
    width: 100%;
    font-weight: 400%;
    padding: 9px 0;
    font-size: 14px;
    text-align: center;
    background-color: #d9d9d9;
}

/********** End Option section page ***************/
/********** Start Pratical section page ***************/

.pratical_section{
    display: grid;
    width: 100%;
    color: white;
    padding: 50px 0;
    background-color: #0977A6;
    overflow: hidden;
}

.pratical_title{
    font-size: 68px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    position: relative;
    margin: 0 auto 100px;
}

@media (max-width: 1024px){
    .pratical_title{
        width: 100vw;
        font-size: 7vw;
    }
}

.pratical_title::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
}

@media (max-width: 1024px){
    .pratical_title::before{
        display: none;
    }
}

.pratical_explain {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

@media (max-width: 1024px){
    .pratical_explain{
        flex-wrap: wrap;
    }
}

.pratical_explain_text{
    width: 30%;
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 1024px){
    .pratical_explain_text{
        min-width: 240px;
    }
}

.pratical_speaker_title{
    font-size: 68px;
    text-align: center;
    width: fit-content;
    margin: 80px auto 80px;
}

@media (max-width: 1024px){
    .pratical_speaker_title{
        font-size: 8vw;
    }
}

.speaker_el{
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.speaker_el::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: transparent;
}

.speaker{
    position: relative;
    width: 180px;
    height: 180px;
    margin: 10px 50px;
    transition: .5s;
}

.speaker_img{
    width: 180px;
    height: 180px;
}

.speaker_name{
    display: grid;
    opacity: 0;
    font-size: 30px;
    font: 600;
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    background-color: #00000080;
    transition: .5s;
}

.speaker:is(:hover,:active,:focus) .speaker_name{
    height: 100%;
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

/********** End Pratical section page ***************/
/********** Start Apply option section page ***************/

.apply_procedure{
    width: 100%;
    height: fit-content;
    display: flex;
    color: white;
    flex-wrap: nowrap;
}

.apply_title_section{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;

    position: relative;
    overflow: hidden;
    z-index: 2;
}

.apply_imgback{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.apply_gtitle{
    position: relative;
    z-index: 2;
    width: 85%;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.apply_ltext{
    position: relative;
    width: 80%;
    z-index: 2;
    text-align: center;
    margin: 10% auto 0;
}

.apply_proceed{
    display: grid;
    width: 50%;
    align-items: stretch;
    background-color: #FFA700;
    font-size: 25px;
    padding: 5vw 7vh;
    gap: 110px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.apply_proceed::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: transparent;
}

.apply_proceed_el{
    position: relative;
}

.apply_proceed_el:not(:first-child):after{
    width: 40%;
    height: 4px;
    position: absolute;
    content: "";
    top: -60px;
    right: 0;
    background-color: white;
}

.btext{
    font-weight: bold;
}

.proceed_el_list{
    margin-top: 15px;
    margin-left: 30px;
}

/********** End Apply option section page ***************/
/********** Start Apply form section page ***************/

.apply_form_section{
    display: grid;
    align-items: center;
    align-content: center;
    padding: 10vh 5vw 5vh;
    width: 100%;
    overflow-y: scroll;
    background: url(business_img4.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.apply_form_title{
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin: 0 auto 60px;
}

.applyform{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    width: 87%;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 50%);
}

.applyform input:not(:last-child){
    text-indent: 20px;
    font-size: 20px;
    color: white;
    height: 60px;
    background-color: transparent;
    border-bottom: 1.5px solid white;
    transition: .3s;
}

.applyform input:not(:last-child):focus{
    border-bottom: 2px solid #0977A6;
}

.applyform input:not(:last-child):focus::placeholder{
    color: transparent;
}

.applyform input::placeholder{
    color: white;
    font-size: 18px;
    transition: .5s;
}

.grid_left{
    grid-column: 1 / 2;
}
.grid_right{
    grid-column: 2 / 3;
}
.grid_max{
    grid-column: 1 / -1;
}

.send_btn{
    font-size: 34px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 30px;
    width: 200px;
    margin: 0 auto;
    grid-column: 1/-1;
    color: white;
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.1);
}

.send_btn:hover{
    background-color: #0977A6;
}

/********** End Apply form section page ***************/
/********** Start Footer section page ***************/

.footer_section{
    display: grid;
    width: 100%;
    height: fit-content;
}

.believers{
    width: 100%;
    display: grid;
}

.believer_title{
    font-size: 55px;
    letter-spacing: 7px;
    color: transparent;
    font-weight: bold;
    -webkit-text-stroke: black 3px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 40px 0 20px;
}

.believer_el{
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    margin-bottom: 30px;
}

.believer_el [class^="img"]{
    height: 100px;
}

.believer_el [class^="img"] img{
    height: 100%;
}

.footer{
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 3vh 7vw 7vh;
    position: relative;
    justify-content: space-between;
}

.newsletter{
    max-width: 400px;
}

.newsletter_gtitle{
    font-size: 50px;
    font-weight: bold;
}

.newsletter_ltitle{
    font-size: 20px;
}

.newsletter_form{
    display: grid;
    align-items: center;
    row-gap: 40px;
    margin-top: 40px;
}

.newsletter_form > input:not(:last-child){
    height: 55px;
    color: black;
    background-color: #d9d9d933;
    padding-left: 20px;
    border-bottom: 1px solid black;
    font-size: 20px;
    transition: .3s;
}

.newsletter_form > input:not(:last-child)::placeholder{
    font-size: 20px;
    font-weight: 600;
    color: #5f5f5f;
    transition: .3s;
}

.newsletter_form input:not(:last-child):focus{
    border-bottom: 2px solid #0977A6;
}

.newsletter_form input:not(:last-child):focus::placeholder{
    color: transparent;
}

.newsletter_form > fieldset > label{
    margin-top: 10px;
    font-size: 18px;
}

.subscribe_btn{
    font-size: 29px;
    font-weight: bold;
    padding: 13px 15px;
    background-color: #3AA0FF;
    color: white;
    width: 210px;
    transition: .4s;
    cursor: pointer;
}

.subscribe_btn:hover{
    background-color: #FF5C5C;
}

.social_links_section{
    gap: 40px;
    display: grid;
    align-content: center;
}

.logo_immg{
    margin: 0 auto;
}

.socials_link{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.socials_link a{
    transition: .3s;
}

.socials_link a:hover{
    transform: scale(1.2);
}

.all_links{
    display: block;
    width: 400px;
}

.all_link_title{
    font-size: 55px;
    font-weight: bolder;
}

.site_links{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 28px;
}

.site_links > li{
    margin: 10px 0;
}

.copyright{
    position: absolute;
    right: 7vw;
    bottom: 7vh;
    font-size: 27px;
}

/********** End Footer form section page ***************/