* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/**************************************/

/********** Menu for all pages ***************/

.menu_bar {
    width: 100%;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffF0;
    position: sticky;
    top: 0;
    z-index: 99;
}

.menu_items {
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    padding: 0 10px;
}

.lang {
    margin-right: 10px;
    display: flex;
    height: 30px;
}

.lang span {
    display: block;
}

.langfr,
.langen {
    width: 50px;
    height: 30px;
}

.menu_bottom {
    display: none;
}

@media (max-width: 1000px) {
    .logo_img {
        width: 60%;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .langfr,
    .langen {
        width: 30px;
        height: 20px;
        margin-top: 5px;
    }

    .menu_bottom {
        z-index: 99;
        display: flex;
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translatex(-50%);
        width: 90%;
        list-style: none;
        justify-content: space-around;
        padding: 20px;
        background-color: #8080807c;
        border-radius: 30px;
        backdrop-filter: blur(10px);
    }
}

/********** End menu for all pages ***************/


/********** Start Energy Home page ***************/

.bus_home {
    width: 100%;
}

.banner_img {
    width: 100%;
}

.bus_bann_text_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.busbann_img_logo {
    width: fit-content;
    margin-right: 20px;
    min-width: 120px;
    max-width: 450px;
    padding: max(13px, min(2vw, 30px)) max(20px, min(3vw, 30px));
    background-color: #f3f3f3;
}

.busbann_text_cont {
    font-size: max(30px, min(6vw, 80px));
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: #86837F 2px;
}

.bus_title_text {
    display: grid;
    width: 100%;
}

.bus_gtitle_text {
    margin: 0 auto;
    max-width: 60%;
    font-size: max(23px, min(4vw, 80px));
    text-align: center;
    font-weight: 700;
    color: #EDB248;
}

.gray_color {
    color: #BAB3A8;
}

.bus_little_text {
    position: relative;
    font-size: 14px;
    display: block;
    text-align: right;
    color: black;
    font-weight: 500;
    width: 100%;
}

.bus_little_text::before{
    content: "";
    position: absolute;
    width: 20%;
    height: 4px;
    top: 50%;
    left: 0;
    background-color: #f3f3f3;
}

/********** End Energy Home page ***************/


/********** Start Declaration section page ***************/

.declaration{
    position: relative;
    margin: 70px 0;
}

.declaration::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 34px;
    width: 80%;
    background-color: #EFBC6F;
    border-radius: 50px;
}

.declaration_text_cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 80px 170px;
    flex-wrap: wrap;
    background-color: #EFBC6F;
}

.left_declar_text{
    display: block;
    width: 45%;
    min-width: 200px;
    max-width: 740px;
}

.quote_img{
    width: 51px;
    height: 51px;
    margin-bottom: 42px;
}

.quote_img img{
    width: 100%;
}

.left_declare_par{
    font-size: max(24px, 40px);
    font-weight: 700;
}

.declar_author{
    width: 100%;
    text-align: right;
    font-size: max(18px, 27px);
    margin-top: 70px;
}

.right_declar_text{
    display: block;
    width: 45%;
    min-width: 200px;
    max-width: 740px;
    font-size: max(20px, 30px);
    margin-top: 90px;
}

.top_par{
    margin-bottom: 100px;
}

.declar_video_cont{
    margin: -90px auto 0;
    min-width: 240px;
    min-height: 120px;
    width: 70vw;
    height: 38vw;
}

.declar_video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/********** End Declaration section page ***************/